# Application
NODE_ENV=development
PORT=3000

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=finmarkets_db
DB_PORT=5432

# Database (Prisma)
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public"
